<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parallel Test Suite" parallel="classes" thread-count="2">
    <test name="Login and Seller Tests">
        <classes>
            <class name="TestCases.Admin_login_test" />
            <class name="TestCases.Seller_prod_crt" />
        </classes>
    </test>
</suite>
